@import "../../css/theme.scss";

/////////ANIMATION/////////
@keyframes popout {
        from{transform:scale(0)}
        to{transform:scale(1)}
    }
.crestCrown {
    position: absolute;
    bottom: 0;
}
.crownLg {
    width: 65px;
    margin-bottom: 165px;
    margin-left: 330px;
}
.crownSm {
    width: 50px;
    margin-bottom: 119px;
    margin-left: -163px;
}
