@import "../../css/theme.scss";

/////////ANIMATION/////////
@keyframes popout {
        from{transform:scale(0)}
        to{transform:scale(1)}
    }

// animation: popout .5s ease;
.crestUser {
    position: absolute;
    bottom: 0;
}
/////////CREST ELEMENTS SHARED STYLES/////////
.userSm {
    width: 50px;
}
.userMed {
    width: 70px;
}
.userLg {
    width: 90px;
}

/////////RED GROUP/////////
.boyRed {
    margin-bottom: 375px;
}
.girlRed2 {
    margin-bottom: 305px;
    margin-left: 20px;
}
.girlRed1 {
    margin-bottom: 240px;
    margin-left: -150px;
}

/////////GREEN GROUP/////////
.boyGreen {
    margin-bottom: -135px;
    margin-left: 325px;
}
.girlGreen {
    margin-bottom: -210px;
    margin-left: 225px;
}

/////////BLUE GROUP/////////
.boyBlue {
    margin-bottom: -460px;
    margin-left: 225px;
}
.girlBlue {
    margin-bottom: -415px;
    margin-left: 320px;
}

/////////YELLOW GROUP/////////
.boyYellow2 {
    margin-bottom: -390px;
    margin-left: 30px;
}
.boyYellow1 {
    margin-bottom: -420px;
    margin-left: 30px;
}
.girlYellow {
    margin-bottom: -520px;
    margin-left: -100px;
}
