@import "../../css/theme.scss";

/////////TITLE STYLES/////////
.title {
    text-align: center;
    font-size: $h3mobile;
    margin-bottom: 30px;
}
@media (min-width: 575px) {
    .title {
        font-size: 28px;
    }
}

/////////MEDIA STYLES/////////
.media {
    width: 125px;
    margin-right: 150px;
}

.heading {
    font-size: 18px;
    font-weight: 900;
}

/////////BODY STYLES/////////
.body {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.4em;
}

/////////CARD STYLES/////////
.card {
    padding: 32px;
    font-size: 16px;
}
.teamBuilding {
    margin-bottom: 15px;
}
@media (min-width: 575px) {
    .teamBuilding {
        margin-bottom: 0px;
    }
}

.button {
    font-size: 16px;
}
