@import "../../css/theme.scss";

.button {
    @include slackButtonHero;
}
.button:hover {
    @include slackButtonHeroHover;
}
.slackLogo {
    width: 18px;
    margin-right: 7px;
    margin-bottom: -3px;
}
