@import "../../css/theme.scss";

/////////ANIMATION/////////
@keyframes popout {
        from{transform:scale(0)}
        to{transform:scale(1)}
    }

.crestPoint {
    position: absolute;
    bottom: 0;
    z-index: 10;
}
.points {
    width: 70px;
}
.pointsTen {
    width: 65px;
}

/////////RED GROUP/////////
.tenRed {
    margin-left: -35px;
    margin-bottom: 295px;
}

/////////GREEN GROUP/////////
.twentyFive {
    margin-left: 360px;
    margin-bottom: 95px;
}

/////////BLUE GROUP/////////
.fifty {
    margin-left: 310px;
    margin-bottom: 5px;
}

/////////YELLOW GROUP/////////
.tenYellow {
    margin-left: -365px;
    margin-bottom: 15px;
}
