@import "../../css/theme.scss";

//Div Container Styles
.legal {
    display: flex;
    flex-basis: auto;
    margin-top: 175px;
    width: 100vw;
}

//Copyright Styles
.copyright {
    font-size: 0.75rem;
    color: $darkBackground;
}
.audentio {
    color: $darkBackground;
    background-color: transparent;
    font-size: 13px;
    margin-left: -5px;
    border-style: none;
    text-decoration: underline;
}

//Social Media Icons
.socialMediLinks {
    margin-left: auto;
}
.socialMedia li {
    display: inline;
}
.socialMedia a {
    color: $darkBackground;
    padding: 0.375rem;
    display: inline-block;
}
