@import "../../css/theme.scss";

.background {
    background: url("./images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 300px;
}
.mainHill {
    margin-left: auto;
    max-width: 90%;
    text-align: right;
    z-index: 100px;
}
.mainDarkHill {
    margin-right: -30px;
    margin-bottom: -30px;
}
.cloudLeft {
    padding-bottom: 30px;
    margin-left: 600px;
}
.cloudRight {
    position: relative;
    z-index: 1000;
}
.castle {
    margin-right: -20px;
    margin-bottom: -160px;
}
.backTreeline {
    margin-bottom: -400px;
}
.treeLines {
    margin-bottom: -910px;
    margin-left: -5px;
}
.foregroundObjects {
    text-align: right;
}
.tree {
    margin-bottom: -410px;
    position: relative;
    z-index: 1000;
    max-width:  20%;
    margin-left: 400px;
}
.cloudCastle {
    max-width: 20%;
    text-align: right;

}
.lake {
    background: url("./images/black-lake.svg");
    height: 100px;
    margin-bottom: -250px;
    margin-left: -17px;
}
.crestHero {
    text-align: right;
    margin-right: 510px;
    margin-bottom: -50px;
}
.crest {
    visibility: hidden;
}
@media (min-width: 1650px) {
    .crest {
        visibility: visible;
        height: 450px;
    }
}




.header {
    font-size: $heroBigFont;
    font-weight: $black;
    color: $baseFontColor;
}
.body {
    font-size: 18px;
    color: #424242;
    padding-bottom: 15px;
    max-width: 80%;
}
.slackButton {
    @include slackButtonHero;
}
.slackLogo {
    width: 18px;
    margin-right: 7px;
    margin-bottom: -3px;
}
.content {
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: -300px;
}
