@import "../../css/theme.scss";

//animations
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  75% {
    transform: translate(15px, 0);
  }
  100% {
    transform: translate(20px, 0);
  }
}

//containers
.background {
    background: url("./images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 300px;
}
.mainHill {
    margin-left: auto;
    max-width: 90%;
    text-align: right;
    z-index: 100px;
}
.treeForeground  {
    margin-bottom: -295px;
}
.treeLines {
    margin-bottom: -910px;
    margin-left: -5px;
}
.crestHero {
    text-align: right;
    margin-right: 510px;
    margin-bottom: -220px;
}

//hill
.mainDarkHill {
    margin-right: -30px;
    margin-bottom: -30px;
}

//clouds
.cloudLeft {
    margin-left: 630px;
    width: 260px;
    height: 260px;
    animation:
        float 5s linear infinite alternate;
}
.cloudRight {
    position: relative;
    z-index: 1000;
    max-width: 18%;
    margin-left: 82%;
    padding-bottom: 170px;
    width: 260px;
    height: 260px;
    animation:
        float 5s linear infinite alternate;
}

//castle
.castle {
    margin-right: -20px;
    margin-bottom: -160px;
}

//tree lines
.backTreeline {
    margin-bottom: -400px;
}

//tree
.tree {
    margin-bottom: -410px;
    position: relative;
    z-index: 1000;
    max-width:  20%;
    margin-left: 400px;
}

//lake
.lake {
    background: url("./images/black-lake.svg");
    height: 100px;
    margin-bottom: -250px;
    margin-left: -22px;
}

//crest
.crest {
    visibility: hidden;
}
@media (min-width: 1650px) {
    .crest {
        visibility: visible;
        height: 450px;
    }
}

//Hero CTA content
.content {
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: -300px;
}
.header {
    font-size: $heroBigFont;
    font-weight: $black;
    color: $baseFontColor;
}
.body {
    font-size: 18px;
    color: #424242;
    padding-bottom: 15px;
    max-width: 80%;
}
.slackButton {
    @include slackButtonHero;
}
.slackButton:hover {
    @include slackButtonHeroHover;
}
.slackLogo {
    width: 18px;
    margin-right: 7px;
    margin-bottom: -3px;
}
