@import "../../css/theme.scss";

//Modal Navigation

//Modal Styles
.setup {
    padding-left: 40px;
    padding-right: 40px;
}

//Text Styles
.heading {
    // font-size: $h4;
    // font-weight: $normal;
    text-align: center;
}
.lead {
    // font-size: $secondaryParagraph;
    // color: $secondaryColor;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media (min-width: 575px) {
    .lead {
        max-width: 60%;
    }
}

.contentHeader h5 {
    font-size: $h5;
    font-weight: $bold;
}
.body p{
    line-height: 1.3em;
    color: #424242;
    font-size: 16px;
}

//Modal Footer
.modalFooter {
    text-align: center;
}
.modalFooter h5 {
    font-weight: $bold;
}
.modalFooter p {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 575px) {
    .modalFooter p {
        max-width: 60%;
    }
}
.modalFooter a {
    color: #347C9D;
}

//Scaffolding
.card {
    margin: 3px;
}
.row {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}
@media (min-width: 837px) {
    .row {
        flex-basis: 500px;
        flex-wrap: nowrap;
    }
}

@media (min-width: 768px) {
    .col {
        display: flex;
    }
}
.card {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-radius:  6px;
    border-color: #d9d7d7;
    border-width: 1px;
    width: 180px;
    height: 180px;
}
@media (min-width: 768px) {
    .card {
        width: 215px;
        height: 215px;
    }
}
.card:hover {
    box-shadow: $boxShadow;
    border-color: transparent;
}
.content {
    text-align: left;
}
.donate:hover {
    text-decoration: underline;
}
//Base Icon Styles
.icon {
    @include icon;
    margin-top: -65px;
    margin-bottom: 20px;
}
.icon i {
    color: #fff;
}
//Icon Colors
.helpIcon {
    background-color: $helpColor;
}
.getIcon {
    background-color: $getColor;
}
.contributeIcon {
    background-color: $contributeColor;
}
.shareIcon {
    background-color: $shareColor;
}

//Base Button Styles

// @media (min-width: 1353px) {
//     .button  {
//         padding-bottom: 315px;
//     }
// }
// .button:hover {
//     text-decoration: $underlineHover;
// }

//Button Colors
.buttonHelp {
    color: $helpColor;
}
.buttonGet {
    color: $getColor;
}
.buttonContribute {
    color: $contributeColor;
}
.buttonShare {
    color: $shareColor;
}
