@import "../../css/theme.scss";

/////////MODAL STYLES/////////
.setup {
    padding-left: 40px;
    padding-right: 40px;
}

.helpButton {color: RED;}

.button {
    margin-top: auto;
}

/////////TEXT HEADER/////////
.heading {
    text-align: center;
}
.lead {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media (min-width: 575px) {
    .lead {
        max-width: 60%;
    }
}


/////////TEXT FOOTER/////////
.modalFooter {
    text-align: center;
}
.modalFooter h5 {
    font-weight: $bold;
}
.modalFooter p {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 575px) {
    .modalFooter p {
        max-width: 60%;
    }
}
.modalFooter a {
    color: #347C9D;
}

/////////SCAFFOLDING/////////
.card, .mediaContent, .media {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}
.row {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width: 837px) {
    .row {
        flex-basis: 500px;
        flex-wrap: nowrap;
    }
}

.col {min-width: 0;}

@media (min-width: 768px) {
    .col {
        display: flex;
    }
}

/////////BASE ICON STYLES/////////
.icon {
    @include icon;
    margin-top: -65px;
    margin-bottom: 20px;
}
.icon i {
    color: #fff;
}

/////////ICON COLORS/////////
.helpIcon {
    background-color: $helpColor;
}
.getIcon {
    background-color: $getColor;
}
.contributeIcon {
    background-color: $contributeColor;
}
.shareIcon {
    background-color: $shareColor;
}

/////////BUTTON STYLES/////////
.buttonResponsive:hover {
    text-decoration: underline;
}
.buttonHelp {
    color: $helpColor;
}
.buttonGet {
    color: $getColor;
}
.buttonContribute {
    color: $contributeColor;
}
.buttonShare {
    color: $shareColor;
}









.test {
    position: absolute;
    bottom: 0;
}
// <div className={style.card}>
//     <div className={classy(style.icon, style.helpIcon)}><i className="mdi mdi-comment-question-outline" /></div>
//     <div className={style.content}>
//         <div className={style.contentHeader}>
//             <h5>
//                 I need help
//             </h5>
//         </div>
//         <div className={style.body}>
//             <p>Need this installed for you? We do not offer a SaaS yet.</p>
//         </div>
//         <div className={style.footer}>
//              <a href="#" className={classy(style.button, style.buttonHelp)}>
//                  <span className={style.buttonResponsive}>Get help</span> <i className="mdi mdi-arrow-right" />
//              </a>
//          </div>
//      </div>
// </div>
//
// <div className={style.card}>
//     <div className={classy(style.icon, style.getIcon)}><i className="mdi mdi-download" /></div>
//     <div className={style.content}>
//         <div className={style.contentHeader}>
//             <h5>
//                 I can do it myself
//             </h5>
//         </div>
//         <div className={style.body}>
//             <p>Here are some instructions for getting this done on your own.</p>
//         </div>
//         <div className={style.footer}>
//              <a href="#" className={classy(style.button, style.buttonGet)}>
//                  <span className={style.buttonResponsive}>Read instructions</span> <i className="mdi mdi-arrow-right" />
//              </a>
//         </div>
//     </div>
// </div>







//
// <div className={style.card}>
//     <div className={classy(style.icon, style.contributeIcon)}><i className="mdi mdi-square-edit-outline" /></div>
//     <div className={style.content}>
//         <div className={style.contentHeader}>
//             <h5>
//                 Contribute
//             </h5>
//         </div>
//         <div className={style.body}>
//             <p>Please also consider contributing to this open source project.</p>
//         </div>
//         <div className={style.footer}>
//              <a href="#" className={classy(style.button, style.buttonContribute)}>
//                  <span className={style.buttonResponsive}>Contribute</span> <i className="mdi mdi-arrow-right" />
//              </a>
//         </div>
//     </div>
// </div>
// <div className={style.card}>
//     <div className={classy(style.icon, style.shareIcon)}><i className="mdi mdi-share-variant" /></div>
//     <div className={style.content}>
//         <div className={style.contentHeader}>
//             <h5>
//                 Share
//             </h5>
//         </div>
//         <div className={style.body}>
//             <p>Want to say thanks or share with your friends?</p>
//         </div>
//         <div className={style.footer}>
//              <a href="#" className={classy(style.button, style.buttonShare)}>
//                  <span className={style.buttonResponsive}>Share</span> <i className="mdi mdi-arrow-right" />
//              </a>
//         </div>
//     </div>
// </div>
// </div>
