@import "../../css/theme.scss";

//Footer Styles
.footer {
    background-image: url("./images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left 90px bottom 20px top 30px;
    height: 550px;
}
@media (min-width: 768px) {
    .footer {
        background-position: right 00px bottom 20px top 30px;
        height: 550px;
    }
}
.cta {
    display: block;
}
.legal {
    display: block;
}
