@import "../../css/theme.scss";

.icon {
    display: inline;
    padding: 12px;
    font-size: 20px;
}
.icon a {
    color: $darkBackground;
}
.socialMedia {
    text-align: right;
}
.legal {
    align-items:  center;
}
.copyright a{
    font-size: 14px;
    color: $darkBackground;
}
.legal {
    margin-top: -50px;
}
.audentio {
    text-decoration: underline;
}
