@import "../../css/theme.scss";

//Scaffolding
.section .row{
    align-items: center;
}

//Media Styles
.media {
    margin-top: 30px;
}
@media (min-width: 575px) {
    .media {
        height: 597;
        width: 888px;
        margin-top: 0px;
    }
}

//Text Styles
.subTitle {
    color: $tertiaryColor;
    font-size: $h4mobile;
}
@media (min-width: 768px) {
    .subTitle {
        font-size: $h4;
    }
}
.title {
    color: #212121;
    font-size: $h1mobile;
    margin: 0.5em 0;
    line-height: 1.2em;
}
@media (min-width: 768px) {
    .title {
        font-size: $h1;
    }
}
.content {
    color: #424242;
    font-size: $secondaryParagraphMobile;
}
@media (min-width: 575px) {
    .content {
        font-size: $secondaryParagraph;
    }
}
